<app-home></app-home>

<h2>Reservation List</h2>
<ul *ngIf="reservations.length > 0; else noReservation">
  <li *ngFor="let reservation of reservations">
    Guest Name: {{ reservation.guestName }} <br> 
    Guest Email: {{ reservation.guestEmail }} <br>
    Check-in Date: {{reservation.checkInDate | date }} <br>
    Check-out Date: {{reservation.checkOutDate | date }} <br>
    Room Number: {{ reservation.roomNumber }} <br>
    <button (click)="deleteReservation(reservation.id)">Delete</button>
    <button [routerLink]="['/edit', reservation.id]">Edit</button>
  </li>
</ul>

<ng-template #noReservation>
  <p>No reservation available.</p>
</ng-template>